<div class="">
</div>


<div class="card">
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Usulan Program</th>
          <th scope="col">Jenis Program</th>
          <th scope="col">Provinsi</th>
          <th scope="col">Kab/Kota</th>
          <th scope="col">Kecamatan</th>
          <th scope="col">RTRWN</th>
          <th scope="col">RTR KSN</th>
          <th scope="col">RTRW Pulau</th>
          <th scope="col">RTRW Provinsi</th>
          <th scope="col">RTRW Kota</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let number of numbers">
          <th scope="row">{{number}}</th>
          <td><input class="form-control" type="text"></td>
          <td>
            <form [formGroup]="initForm">
              <select class="form-control" formControlName="jpControl">
                <option [value]="jp" *ngFor="let jp of jenisProgram">{{jp}}</option>
              </select>
            </form>
          </td>
          <td>
            <form [formGroup]="initForm">
              <select class="form-control" formControlName="provinsiControl">
                <option [value]="prv" *ngFor="let prv of provinsi">{{prv}}</option>
              </select>
            </form>
          </td>
          <td>

            <form [formGroup]="initForm">
              <select class="form-control" formControlName="kabKotaControl">
                <option [value]="kbk" *ngFor="let kbk of kabKota">{{kbk}}</option>
              </select>
            </form>
          </td>

          <td>
              <form [formGroup]="initForm">
                  <select class="form-control" formControlName="kecamatanControl">
                    <option [value]="kct" *ngFor="let kct of kecamatan">{{kct}}</option>
                  </select>
                </form>
          </td>
          <td>{{rtrwn}}</td>
          <td>{{rtrksn}}</td>
          <td>{{rtrwpulau}}</td>
          <td>{{rtrwprovinsi}}</td>
          <td>{{rtrwkota}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer text-center">
    <button type="button" routerLink="" class="btn-primary btn-md">Home</button>
  </div>
</div>
