

<div class="">
</div>


<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Usulan Program</th>
                <th scope="col">Jenis Program</th>
                <th scope="col">Provinsi</th>
                <th scope="col">Kab/Kota</th>
                <th scope="col">Kecamatan</th>
                <th scope="col">RTRWN</th>
                <th scope="col">RTR KSN</th>
                <th scope="col">RTRW Pulau</th>
                <th scope="col">RTRW Provinsi</th>
                <th scope="col">RTRW Kota</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td>

                  <select></select>


                </td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="card-footer text-center">
        <button type="button" routerLink="" class="btn-primary btn-md">Home</button>
      </div>
  </div>
